body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

.navbar {
    background: #1e293b;
    padding: 15px;
}

.card {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background: #1e293b;
    border-radius: 10px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    background: #38bdf8;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.result {
    color: #facc15;
}